{{ if eq .chezmoi.os "linux" -}}

#!/bin/bash

{{ range $group, $packages := .packages.linux.archlinux -}}

sudo pacman -Syyu --noconfirm {{ range index $packages "pacman" -}}{{ . | quote }} {{ end }}
paru -Syu --noconfirm {{ range index $packages "aur" -}}{{ . | quote }} {{ end }}

{{ end -}}

{{ end -}}
