#!/bin/bash

fish -c '
	fisher install jethrokuan/z
	fisher install franciscolourenco/done
	fisher install gazorby/fish-abbreviation-tips
'

fish -c '
	fisher install catppuccin/fish
	fish_config theme save "Catppuccin Mocha"
'

if [ "$SHELL" != "/usr/bin/fish" ]; then
    chsh -s /usr/bin/fish
fi

